.media-object {
    width: 38px;
    height: 38px;
}
.profile .section {
    margin-top: 50px;
}
.main {
    background-color: white;
    margin: 30px;
}
body {
    /*background-color: #efefef;*/
    background-color:grey;

}
.menu {
    color: #999;
    margin-top: 5px;
}
.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}


.menu .icon:hover {
    color: #499ef3;
}

