<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.js"></script>
<head>
    <title>问题明细</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <!--左侧功能块-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--问题详情-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2><span th:text="${question.title}"></span></h2>
                <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                        th:text="${question.viewCount}"></span> 次浏览 • <span
                        th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span th:text="${question.description}"></span></h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                   <span class="label label-info"  th:each="tag:${question.tag.split(',')}" style="margin-right: 5px">
                    <span class="glyphicon glyphicon glyphicon-tags" aria-hidden="true"></span>
                       <span class="label label-info" th:text="${tag}" > </span>

               </span>



                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div th:if="${session.user != null&&session.user.id == question.creator}">

                    <a class="" th:href="@{'/publish/'+${question.id}}"> <span
                            class="glyphicon glyphicon glyphicon-pencil"
                            aria-hidden="true" th:text="编辑"></span></a>
                </div>
            </div>
            <!--回复详情-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="margin-top:0px">
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${question.commentCount}"></span>个回复</h3>

                <div class="media" th:each="comment :${CommentList}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 src="https://img-blog.csdnimg.cn/20201014180756754.png?x-oss-process=image/resize,m_fixed,h_64,w_64">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${comment.user.name}"></span>
                        </h4>
                        <h5><span th:text="${comment.content}"></span></h5>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span th:data-id="${comment.id}"
                                  onclick="collapseComments(this)" class="comment-icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                            <span class="pull-right"
                                  th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd')}"></span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse  sub-comments"
                             th:id="${'comment-'+comment.id}">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="评论一下……"
                                       th:id="${'input-'+comment.id}">
                                <button type="button" class="btn btn-success pull-right" onclick="replyComment(this)"
                                        th:data-id="${comment.id}" style="margin-top: 10px;margin-bottom: 0px">评论
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>
            <!--问题回复框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_selection">
                <h2> 提交回复</h2>
                <div class="media">
                    <div class="media-left ">
                        <a href="#">
                            <img class="media-object img-rounded" style="width: 38px;height: 38px"
                                 src="https://img-blog.csdnimg.cn/20201014180756754.png?x-oss-process=image/resize,m_fixed,h_64,w_64">
                        </a>
                    </div>
                    <div class="media-body" style="padding-top: 10px">
                        <h4 class="media-heading">
                            <span th:text="${question.user.name}"></span>
                        </h4>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <!--                <input type="hidden" id="question_id" th:value="123">-->
                <textarea class="form-control" rows="4" style="margin-top: 20px" id="content"></textarea>

                <button type="button" class="btn btn-success pull-right" id="comment" style="margin: 10px 0"
                        onclick="replyQuestion()">回复
                </button>
            </div>
        </div>
        <!--右侧功能块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span><h4> 发起人</h4></span>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 src="https://img-blog.csdnimg.cn/20201014180756754.png?x-oss-process=image/resize,m_fixed,h_64,w_64">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${question.user.name}" ></span>
                        </h4>
                    </div>

                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span><h4> 广告推广</h4></span>
                <img src="/images/2.jpg" style="width: 100%"  class="img-thumbnail">
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span><h4> 相关问题</h4></span>
                <ul th:each="relation :${RelationQuestion}" style="padding-left: 0;padding-top: 5px">
                    <li style="list-style: none;">

                        <a th:text="${relation.title}" th:href="@{'/question/'+${relation.id}}"></a>
                    </li>

                </ul>

            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>
</div>
<script type="text/javascript" charset="UTF-8">
    //  $("#comment").on("click", function () {
    /*回复公共方法*/
    function replyCommons(id, type, content) {
        $.ajax({
            url: "/comment",
            contentType: 'application/json',
            data: JSON.stringify({
                parentId: id,
                type: type,
                content: content
            }),
            resultType: "JSON",
            type: "POST",
            success: function (result) {
                alert(result.message);
                if (result.code == '200') {
                    window.location.reload();
                }
                $("#comment_selection").hide();
                if (result.code == '4001') {
                    // location.href="http://localhost:8080/goLogin";
                    window.open("http://localhost:8080/goLogin");
                    localStorage.setItem("close", "true");
                }

            },
            error: function (result) {

            }

        });
    }

    /*回复问题*/
    function replyQuestion() {
        replyCommons($("#question_id").val(), 1, $("#content").val());
    };

    /*回复评论*/
    function replyComment(e) {
        var id = e.getAttribute("data-id");
        var content = $("#input-" + id).val();
        replyCommons(id, 2, content);

    }

    /**
     * 展开二级评论
     */
    function collapseComments(e) {
        var id = e.getAttribute("data-id");
        var comments = $("#comment-" + id);

        // 获取一下二级评论的展开状态
        var collapse = e.getAttribute("data-collapse");
        if (collapse) {
            // 折叠二级评论
            comments.removeClass("in");
            e.removeAttribute("data-collapse");
            e.classList.remove("active");
        } else {
            var subCommentContainer = $("#comment-" + id);
            if (subCommentContainer.children().length != 1) {
                //展开二级评论
                comments.addClass("in");
                // 标记二级评论展开状态
                e.setAttribute("data-collapse", "in");
                e.classList.add("active");
            } else {
                $.getJSON("/comment/" + id, function (data) {
                    $.each(data.data.reverse(), function (index, comment) {
                        var mediaLeftElement = $("<div/>", {
                            "class": "media-left"
                        }).append($("<img/>", {
                            "class": "media-object img-rounded",
                            "src": "https://img-blog.csdnimg.cn/20201014180756754.png?x-oss-process=image/resize,m_fixed,h_64,w_64"
                        }));

                        var mediaBodyElement = $("<div/>", {
                            "class": "media-body"
                        }).append($("<h5/>", {
                            "class": "media-heading",
                            "html": comment.user.name
                        })).append($("<div/>", {
                            "html": comment.content
                        })).append($("<div/>", {
                            "class": "menu"
                        }).append($("<span/>", {
                            "class": "pull-right",
                            "html": moment(comment.gmtCreate).format('YYYY-MM-DD')
                        })));

                        var mediaElement = $("<div/>", {
                            "class": "media"
                        }).append(mediaLeftElement).append(mediaBodyElement);

                        var commentElement = $("<div/>", {
                            "class": "col-lg-12 col-md-12 col-sm-12 col-xs-12 comments"
                        }).append(mediaElement);

                        subCommentContainer.prepend(commentElement);
                    });
                    //展开二级评论
                    comments.addClass("in");
                    // 标记二级评论展开状态
                    e.setAttribute("data-collapse", "in");
                    e.classList.add("active");
                });
            }
        }
    }

</script>
</body>
</html>