<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<head>
  <title>radio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <script src="../static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">胖恺社区</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" action="/">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索问题">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" th:if="${session.user !=null}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false" th:text="${session.user.getName()}"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">问题中心</a></li>
            <li><a href="#">我的发帖</a></li>
            <li><a href="#">退出登陆</a></li>
          </ul>
        </li>
        <li th:if="${session.user ==null}"><a href="https://github.com/login/oauth/authorize?client_id=aa00856fe3aa2fde9e0b&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a></li>
      </ul>
    </div>
  </div>
</nav>
<form class="form-horizontal" action="/task">
<div class="panel panel-default">
  <div class="panel-heading">任务列表</div>
  <table class="table">
    <tr>
      <td>单选框</td>
      <td>任务编码</td>
      <td>任务名称</td>
      <td>任务频次</td>
    </tr>
    <tr>
      <td><label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
      </label>
      </td>
      <td >B001</td>
      <td>代理人五要素邮件</td>
      <td>*/40 * * * * ?</td>
    </tr>
  </table>
  <button type="submit" class="btn btn-default">提交</button>
</div>
</form>
</body>
</html>